.ion-content-first{
  --background: url("~src/assets/images/mountain2.jpg") 0 0/100% 100% no-repeat;
}
.ion-content-second{
  --background: url("~src/assets/images/mountain (2).jpg") 0 0/100% 100% no-repeat;
}
.custom-content {
  height: 100%;
}
.row-container {
  height:100vh;
  display: flex;
  flex-direction: column;
}

.row-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elevation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elevation-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.elevation-text{
  font-size: 100px;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
.sea-level{
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0;
}
.last{
  font-size: 14px;
}
.mountain-icon
{
  width: 25%;
  height: 25%;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.current-elevation{
  font-size: x-large;
  font-weight: bold;
}
.chart{
  width: 70vw;
  height: 150px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 2px;

}
#myChart {
  width: 70vw;
  height: 150px;
  --background: #181a1f;
}
.separator
 {
  padding: 0;
  margin: 0;
  height: 20px;
  background-color: black;
  display: flex;
  justify-content: center; /* Add this line */
   position: sticky;
   z-index: 1;
   bottom: 0;
 }
.statsHeader{
  text-align: center;
}
ion-toolbar{
  height: 7vh;
  background-color: black;
}
ion-title{
  margin: 0;
  padding-left: 10px;
}
.titleImage{
  width: 15px;
  height: 15px;
}
.statsHeader h1, ion-item-divider {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
ion-label {
  font-size: 1rem;
  color: #555;
}
.statsIconsLast{
  padding:3px;
  border: 2px white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 1px;
  margin-right: 10px;
  margin-left: 3px;
  background-color: #cffcf0;
}
.statsIconsOverall{
  padding:3px;
  border: 2px white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 1px;
  margin-right: 10px;
  margin-left: 3px;
  background-color: #c8defa;
}
.statsHeader2{
  margin-left: 5px;
}


