.ion-content-first{
  --background: url("~src/assets/images/mountain2.jpg") 0 0/100% 100% no-repeat;
}
.ion-content-second{
  --background: url("~src/assets/images/mountain (2).jpg") 0 0/100% 100% no-repeat;
}
.custom-content {
  height: 100%;
}

.row-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elevation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elevation-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.elevation-text{
  font-size: 100px;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
.sea-level{
  font-size: x-large;
  font-weight: bold;

}
.mountain-icon
{
  width: 20%;
  height: 20%;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.current-elevation{
  font-size: x-large;
  font-weight: bold;
}
