<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>

    <!-- ion-button slouží jako prvek držící všechny tlačítka uvnitř ion-toolbar -->
    <!-- [slot] je možnost nastavení zobrazení prvku v pozici v rodičovském prvku -->
    <!-- [slot] = end - nastavení za titulkem. = start - nastavení před titulkem -->
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>


  <form [formGroup]="form">
    <ion-list>
      <ion-item-group>
        <ion-item-divider>
          <h2>Refresh rate:</h2>
        </ion-item-divider>
        <ion-radio-group formControlName="refreshRate">
          <ion-item>
            <ion-radio value="30000">30 seconds</ion-radio>
          </ion-item>
          <ion-item>
            <ion-radio value="60000">1 minute</ion-radio>
          </ion-item>
          <ion-item>
            <ion-radio  value="120000">2 minutes</ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-radio value="300000">5 minutes</ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <h2>Units:</h2>
        </ion-item-divider>
        <ion-radio-group formControlName="units">
          <ion-item>
            <ion-radio value="meters">Meters</ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-radio  value="feet">Feet</ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item-group>
    </ion-list>

    <ion-item-group>
      <ion-item-divider>
        <h2>Background:</h2>
      </ion-item-divider>
      <ion-radio-group formControlName="pictureOption">
        <ion-row class="centerClass">
          <ion-col>
            <ion-radio value="ion-content-first"></ion-radio>
          </ion-col>
          <ion-col>
            <ion-radio value="ion-content-second"></ion-radio>
          </ion-col>
        </ion-row>
      </ion-radio-group>
      <ion-row class="centerClass marginLeft">
        <ion-col >
          <img alt="Moutain range" src="assets/images/mountain2.jpg" class="Card"/>
        </ion-col>
        <ion-col>
          <img alt="Moutain range" src="assets/images/mountain (2).jpg" class="Card"/>
        </ion-col>
      </ion-row>
    </ion-item-group>
  </form>
</ion-content>
