<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Statistics
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon name="cog" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Statistics</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-list>
      <ion-item-group>
          <h1>Last Session:</h1>
        <ion-item *ngIf="this.storageService.sessionData.length !== 0; else noSession">
          <div id="divChart">
            <canvas id="myChart"></canvas>
          </div>
        </ion-item>
        <ng-template #noSession>
          <!-- HTML to be generated when sessionArray[0] is null -->
          <ion-item>
           <p class="noData">
             No session data available. Start tracking to see graph of your latest activity
           </p>
            <!-- Add other HTML elements specific to the null scenario -->
          </ion-item>
        </ng-template>
        <ion-radio-group >
          <ion-item>
            <ion-item-divider>
              <h3>Highest Point:</h3>
            </ion-item-divider>
          </ion-item>
          <ion-item>
            <ion-label>
              {{ highestPointLastSession }}
              {{ unitService.IsMeters ? ' meters' : ' feet' }}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-item-divider>
              <h3>Elevation change:</h3>
            </ion-item-divider>
          </ion-item>
          <ion-item>
            <ion-label>{{elevationChangeLastSession}}
              {{ unitService.IsMeters ? ' meters' : ' feet' }}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-item-divider>
              <h3>Lowest Point:</h3>
            </ion-item-divider>
          </ion-item>
          <ion-item>
            <ion-label>{{lowestPointLastSession}}
              {{ unitService.IsMeters ? ' meters' : ' feet' }}
            </ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-item-group>

      <ion-item-group>
          <h1>Overall:</h1>
        <ion-radio-group >
          <ion-item>
            <ion-item-divider>
              <h3>Highest Point:</h3>
            </ion-item-divider>
          </ion-item>
          <ion-item>
            <ion-label>{{highestPointOverall}}
              {{ unitService.IsMeters ? ' meters' : ' feet' }}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-item-divider>
              <h3>Highest Elevation change:</h3>
            </ion-item-divider>
          </ion-item>
          <ion-item>
            <ion-label>{{overallElevationChange}}
              {{ unitService.IsMeters ? ' meters' : ' feet' }}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-item-divider>
              <h3>Lowest Point:</h3>
            </ion-item-divider>
          </ion-item>
          <ion-item>
            <ion-label>{{lowestPointOverall}}
              {{ unitService.IsMeters ? ' meters' : ' feet' }}
            </ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-item-group>
    </ion-list>
</ion-content>
